@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Josefin+Sans&display=swap');

:root {
    --background-color-mobile:  #0475C6;
    --background-color-desktop: #0D72CC;
    --background-color-tablet: #0C87C8;
    --form-color: #fff;
    --primary-color: #0C6DCB;
    --secondary-color: #000;
    --place-holder-color: #8B8B8B;
    --input-border-invalid: #F45858;
    --input-border-valid: #4FF756;
    --input-border-color: #8b8b8b;
    --padding-style: 50px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

body {
    background-color: var(--background-color-mobile);
    display: flex;
    flex-direction: column;
    font-family: 'Inria Sans', sans-serif;
    color: var(--primary-color);
}

.background-wrapper {
    height: 240px;
    width: 100%;
    background-color: var(--from-color);
    position: relative;
}

.fore-ground {
    background: url('./assets/background-mobile.png');
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: var(--padding-style);
}

.background {
    background: var(--form-color);
    width: 100%;
    height: 100%;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    inset: 0;
    margin: auto;
}

img[alt='logo'] {
    width: 75px;
    height: 75px;
}

img[alt='logo title'] {
    object-fit: contain;
    width: 300px;
    height: 24px;
}

.form-section-wrapper {
    background: var(--form-color);
    border-top-left-radius: var(--padding-style);
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: clamp(20px, 5vw, 40px);
    font-family: 'Josefin Sans', sans-serif;
}

h1 + p {
    text-align: center;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

h2 {
    font-size: 18px;
    margin-left: 0.5em;
    color: var(--secondary-color);
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--primary-color);
    padding: .3em;
    color: var(--form-color);
    border-radius: 2px;
}

form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: none;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    position: relative;
}

legend {
    margin-left: auto;
}

.text-input {
    height: 3em;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid var(--input-border-color);
    width: 100%;
    padding: 0.5em;
    outline: none;
    transition: 0.3s;
    caret-color: var(--primary-color);
}

.text-input:focus:valid {
    border-color: var(--input-border-valid);
}

.text-input:focus:invalid {
    border-color: var(--input-border-invalid);
}

.text-input:default {
    border-color: var(--input-border-color);
}

input::placeholder {
    color: var(--place-holder-color);
    font-family: 'Inria Sans', sans-serif;
    letter-spacing: 0.05em;
}

label[for='terms'] {
    display: grid;
    grid-template-columns: 1em auto;
    justify-content: center;
    gap: 5px;
    color: var(--secondary-color);
    font-size: 14px;
}

a {
    color: var(--primary-color);
}

label[for='terms'] > input {
    cursor: pointer;
}

fieldset + p {
    color: var(--secondary-color);
    text-align: center;
}

fieldset + p > a {
    text-decoration: none;
}

input[type='submit'] {
    width: 100%;
    height: 3em;
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: var(--form-color);
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.waves {
    background: url(assets/waves.svg);
    position: fixed;
    background-repeat: no-repeat;
    background-position-x: 100%;
    right: -50px;
    top: 0;
    height: 100%;
    width: 213px;
    pointer-events: none;
}

.text-input + span {
    position: absolute;
    font-size: 0.7em;
    padding: 0.25em;
    background-color: var(--input-border-invalid);
    color: var(--form-color);
    right: 0;
    top: 0;
    border-radius: 8px;
    opacity: 0;
    transition: 400ms;
    transform: translateY(58px);
}

.text-input:focus:invalid + span {
    transform: translateY(0);
    transition-delay: 1s;
    opacity: 1;
}

#phoneNumber + span {
    background-color: var(--input-border-valid);
    opacity: 0;
}

#phoneNumber:focus + span {
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (min-width: 800px) {
    :root {
        --padding-style: 100px;
    }

    body {
        display: grid;
        grid-template-columns: 400px 1fr;
        background: var(--background-color-tablet);
    }
    
    .background-wrapper {
        height: 100%;
        width: 100%;
    }

    .fore-ground {
        background: url('assets/background-desktop.png');
        height: 100%;
    }
    
    .logo-container {
        gap: 60px;
    }

    img[alt='logo'] {
        width: 80px;
        height: 80px;
    }
    
    img[alt='logo title'] {
        width: 300px;
        height: 30px;
    }
    
    .form-section-wrapper {
        padding: 40px;
    }

    .waves {
        right: -20px;
    }
}

@media only screen and (min-width: 1225px) {

    body {
        grid-template-columns: 570px 1fr;
        height: 100vh;
        width: 100vw;
        background: var(--background-color-desktop);
    }
    
    .logo-container {
        gap: 60px;
    }

    img[alt='logo'] {
        width: 110px;
        height: 110px;
    }
    
    img[alt='logo title'] {
        width: 400px;
        height: 40px;
    }
    
    .form-section-wrapper {
        padding: 50px;
    }

    .waves {
        right: 0;
    }

    form > fieldset {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    fieldset > div {
        flex-basis: 300px;
        flex-grow: 1;
    }

    input[type='submit'] {
        width: 200px;
        margin: auto;
    }
    
    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}